body {
  font-size: 22px;
  color: grey;

}
.jumbotron {
  margin: 0;
  padding: 30px;
  color: #555;
  height: -webkit-fill-available;
}
#cloud-container {
  margin-top: -380px;
}
h1 {
  font-size: 4rem;
}
.btn {
  font-size: inherit;
}
.navbar {
  background-color: rgba(40, 44, 52, 0.9) !important;
}
#nucampNavbar .nav-link {
  padding: 0 40px;
}
#brand-name h1 {
  font-family: 'Oswald', sans-serif;
  color: #fff8be;
  font-size: 70px;
}
#brand-name h2 {
  color: #df4143;
}
#site-header .row.align-items-center {
  /* min-height: 650px; */
  padding-bottom: 130px;
  height: 100%;
}
#teaser-section {
  min-height: 700px;
}
/* #nucampNavbar>ul>li:first-child>a.nav-link {
  padding-left: 0;
} */

#highlight {
  margin-top: 2.5rem;
  margin-bottom: 7.5rem;
}
#highlight h3 {
  color: #c85153;
}
#highlight h3, #latest-projects h3 {
  font-weight: 700;
  margin: 1.5rem 0;
  font-size: 2.5rem;
  font-family: 'Oswald', sans-serif;
}
#latest-projects h3 {
  color: #4d9c48;
}
#highlight .card {
  border: 0;
  text-align: center;
}
#highlight svg {
  height: 150px;
  color: #4d9c48 !important;
}
#site-header {
  background: #282C34 url("../img/darker-nodes-n-abstract-829-min.png") no-repeat;
  background-position: 85% 100px;
  background-attachment: fixed;
}
#site-nav {
  background: rgba(40, 44, 52, 0.9);
}

.proj-image, .proj-description {
  min-height: 400px;
}
.proj-description {
  padding: 55px 80px 80px;
  background-color: #e5e5e5;
}
.proj-image {
  background-color: #3e4657;
}
#highlight a.btn {
  margin: 30px;
}
h2.section-title {
  font-size: 4rem;
  text-align: center;
  padding-bottom: 70px;
  color: #c85153;
  font-weight: 800;
}
#toTop {
  width: 80px;
  color: rgb(128, 128, 128, 0.74);
  position: fixed;
  bottom: 20px;
  right: 20px;
}
@media (min-width: 576px) {
  /* .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 5vw;
    padding-left: 5vw;
    padding-bottom: 1rem;
  }
  #navbar .nav-item:first-of-type a.nav-link {
    float: left;
    padding-left: 0;
  }
  #navbar .nav-item:last-of-type a.nav-link {
    float: right;
    padding-right: 0;
  } */
}
@media (min-width: 768px) {
  .navbar-brand {
    margin-right: 0;
  }
  /* #navbar .nav-item:first-of-type a.nav-link {
    float: left;
  }
  #navbar .nav-item:last-of-type a.nav-link {
    float: right;
  }
  #navbar .nav-item:last-of-type a.nav-link, #navbar .nav-item:first-of-type a.nav-link {
    padding-left: 0;
    padding-right: 0;
  } */
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 5vw;
    padding-left: 5vw;
    padding-bottom: 1rem;
  }
  #navbar .nav-item:first-of-type a.nav-link {
    float: left;
    padding-left: 0;
  }
  #navbar .nav-item:last-of-type a.nav-link {
    float: right;
    padding-right: 0;
  }
  #highlight .card-body {
    padding-left: 0;
    padding-right: 0;
  }
}