.jumbotron {
  margin: 0;
  padding: 30px;
  color: #555;
  height: -webkit-fill-available;
}
#cloud-container {
  margin-top: -380px;
}
h1 {
  font-size: 4rem;
}
.navbar {
  background-color: transparent !important;
}
#nucampNavbar .nav-link {
  padding: 0 40px;
}
#brand-name h1 {
  font-family: 'Oswald', sans-serif;
}
#site-header .row.align-items-center {
  /* min-height: 650px; */
  padding-bottom: 50px;
  height: 100%;
}
#teaser-section {
  min-height: 700px;
}
/* #nucampNavbar>ul>li:first-child>a.nav-link {
  padding-left: 0;
} */