body {
  font-size: 22px;
  color: grey;
  font-family: 'Roboto', sans-serif;
}
.jumbotron {
  margin: 0;
  padding: 30px;
  color: #555;
}
#nav-brand-name {
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
}
#cloud-container {
  margin-top: -20vw;
}
h1 {
  font-size: 4rem;
}
.btn {
  font-size: inherit;
}
.navbar {
  background-color: rgba(40, 44, 52, 0.9) !important;
}
#nucampNavbar {
  .nav-link {
    padding: 0 40px;
  }
}
#nav-brand-name, #brand-name {
  color: #fff8be;
}
#brand-name {
  h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
  }
  h2 {
    color: #df4143;
    font-family: 'Kanit', sans-serif;
  }
}
#site-header .row.align-items-center {
  padding-bottom: 130px;
  height: 100%;
}
#page-header {
  padding-bottom: 130px;
  height: 480px;
  background: #282C34 url(../img/darker-nodes-n-abstract-829-min.png) no-repeat;
  background-position: 85% 70px;
  background-attachment: fixed;
}
.page-title {
  font-family: 'Kanit', sans-serif;
  font-size: 80px;
  font-weight: 600;
  letter-spacing: 5px;
  color: rgba(255, 248, 190, 0.91);
  text-align: center;
}
.page-title, #brand-name {
  margin-bottom: -25px;
}
#contactForm {
  margin: 0 auto;
  width: 90%;
}
.form-group {
  margin-bottom: 1.5rem;
}
.form-control {
  font-size: 1.3rem;
}
.input-group-text {
  font-size: 1.3rem;
}
#contactForm-button {
  padding: 10px 60px;
}
main.container {
  margin-bottom: 120px;
}
span.required {
  color: red;
  padding-right: 5px;
}
#teaser-section {
  min-height: 700px;
}
#highlight {
  margin-top: 2.5rem;
}
#highlight h3 {
  color: #c85153;
}
#highlight, #recent-projects {
  h3 {
    font-weight: 700;
    margin: 1.5rem 0;
    font-size: 2.5rem;
    font-weight: 800;
    font-family: 'Kanit', sans-serif;
  }
}
#recent-projects {
  margin-bottom: 300px;
  h3 {
    color: #4d9c48;
  }
  img {
    text-align: center;
    width: -webkit-fill-available;
  }
}
#site-header {
  background: #282C34 url("../img/darker-nodes-n-abstract-829-min.png") no-repeat;
  background-position: 85% 100px;
  background-attachment: fixed;
  height: -webkit-fill-available;
  // height: 200vw; // Don't erase these two lines
  // max-height: 1000px
}
#site-nav {
  background: rgba(40, 44, 52, 0.8);
}
.proj-description {
  padding: 55px 80px 80px;
}
#highlight a.btn {
  margin: 30px;
}
h2.section-title {
  font-size: 7rem;
  text-align: center;
  padding-bottom: 50px;
  color: rgba(128, 134, 158, 0.67);
  font-weight: 800;
  margin-top: 6vw;
  font-family: 'Kanit', sans-serif;
}
#highlight {
  .card {
    border: 0;
    text-align: center;
    svg {
      height: 200px;
      color: #FFF !important;
      transition-timing-function: ease-out; // transitions out slowly
      transition: 0.3s;
    }
    svg:hover {
      transform: scale(1.6);
      color: #FFFFFF;
      transition: 0.3s;
      transition-timing-function: ease-in; // transitions in slowly
    }
    &:first-child {
      .highlight-svg-container  {
        border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
        // border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
        overflow: hidden;
        animation: morph1 5s linear infinite;
      }
      .highlight-svg-container:hover {
        border-radius: 56% 44% 43% 57%/40% 55% 45% 60%;
      }
      // @keyframes morph1 {
      //   0%, 100% {
      //   border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
      //   }
      //   34% {
      //     border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
      //   }
      //   67% {
      //     border-radius: 56% 44% 43% 57%/40% 55% 45% 60%;
      //   }
      // }
    }
    &:nth-child(2) {
      .highlight-svg-container {
        border-radius: 66% 34% 38% 62%/43% 41% 59% 57%;
        overflow: hidden;
        animation: morph2 5.5s linear infinite;
      }
      .highlight-svg-container:hover {
        border-radius: 32% 60% 20% 21%/71% 62% 38% 29%;
      }
      // @keyframes morph2 {
      //   0%, 100% {
      //   border-radius: 66% 34% 38% 62%/43% 41% 59% 57%;
      //   }
      //   34% {
      //     border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
      //   }
      //   67% {
      //     border-radius: 32% 60% 20% 21%/71% 62% 38% 29%;
      //   }
      // }
    }
    &:last-child {
      .highlight-svg-container {
        border-radius: 40% 60% 59% 41%/43% 60% 40% 57%;
        overflow: hidden;
        animation: morph3 5s linear infinite;
      }
      .highlight-svg-container:hover {
        border-radius: 20% 35% 38% 96%/34% 49% 71% 86%;
      }
    }
    // @keyframes morph3 {
    //   0%, 100% {
    //   border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    //   }
    //   34% {
    //     border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    //   }
    //   67% {
    //     border-radius: 20% 35% 38% 96%/34% 49% 71% 86%;
    //   }
    // }
  }
  &:first-child, &:nth-child(2), &:last-child {
    .highlight-svg-container {
      transition-timing-function: ease-out;
      transition: 0.5s;
      background: radial-gradient(#282c34, #596182, #b0bdea);
      padding: 30px 40px;
    }
    .highlight-svg-container:hover {
      transition: 0.5s;
      transition-timing-function: ease-in;
      transform: rotate(-5deg);
    }
  }
}

.input-group.input-group-spcl-9257 {
  display: none;
}
#about {
  background: whitesmoke;
  padding-top: 1.2rem;
  padding-bottom: 120px;
  h2 {
    margin-top: 3vw;
  }
}
#me-avatar {
  background: #e3ddb2;
  border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
  overflow: hidden;
  animation: morph4 5s linear infinite;
}
// @keyframes morph4 {
//   0%, 100% {
//   border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
//   }
//   34% {
//     border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
//   }
//   67% {
//     border-radius: 56% 44% 43% 57%/40% 55% 45% 60%;
//   }
// }
#site-footer {
  padding-top: 50px;
  padding-bottom: 60px;
  text-align: center;
  background: #282c34;
  color: #94979a;
}
#toTop {
  color: rgba(90, 98, 129, 0.77);
  position: fixed;
}
#about-wave {
  margin-top: -300px;
  margin-bottom: -120px;
}
@media (max-width: 575px) {
  h2.section-title {
    font-size: 4.5rem;
  }
  #toTop {
    width: 60px;
    bottom: 10px;
    right: 10px;
  }
}
@media (min-width: 576px) {
  #toTop {
    width: 65px;
    bottom: 10px;
    right: 10px;
  }
}
@media (min-width: 768px) {
  .navbar-brand {
    margin-right: 0;
  }
  .navbar-nav .nav-link {
    padding-right: 5vw;
    padding-left: 5vw;
  }
  #highlight .card-body {
    padding-left: 0;
    padding-right: 0;
  }
  .proj-wrapper {
    margin-bottom: 100px;
  }
  #toTop {
    width: 80px;
    bottom: 20px;
    right: 20px;
  }
}